<div class="container" style="padding-top: 5vh;">
   <div class="mx-auto mb-3 col-md-6 text-center">
      <div style="position: relative;" class="card border-info mx-sm-1 p-3">
          <div class="card border-info shadow text-info p-3 my-card text-center" ><i class="fas fa-blog"></i></div>
          <div class="text-info text-center mt-3"><h4>Manage Crops</h4></div>
          <div class="text-info text-center mt-2"><h1>{{ _scheduleService.usercrops.length}}</h1></div>
          <button style="width: 50%;" data-toggle="modal" data-target="#addFormModal" class="mx-auto btn btn-md aqua-gradient">Add Crop</button>
      </div>
    </div>
   
 <div class="row">
    <div *ngFor="let crop of _scheduleService.usercrops;let i=index"  class="text-center col-12 mx-auto col-sm-8 col-md-4 col-lg-3">
      <div class="card">
        <img class="card-img" src="https://cdn.pixabay.com/photo/2015/07/30/11/05/pineapple-867245_960_720.jpg" alt="Crop">
        <div class="card-img-overlay d-flex justify-content-end">
         
        </div>
        <div class="card-body">
           <h4 class="card-title">Crop name : {{crop.name}}</h4>
          <h6 class="card-subtitle mb-2 text-muted">Crop details : {{crop.details}}</h6>
         

        </div>

      </div>
    <button  data-toggle="modal" data-target="#actFormModal" class="btn btn-success mt-3">Add activity</button>
    </div>
  </div>










    <div class="modal fade" id="addFormModal" tabindex="-1" role="dialog" aria-labelledby="addFormLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="mx-auto modal-title text-center" id="exampleModalLabel">Add Crop</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form  action="" method="post" enctype="multipart/form-data">
    
          <div class="form-group">
            <label class="control-label active" for="post_title">Crop Name</label>
            <input type="text"  [(ngModel)]="crop.name" #crop_name='ngModel' name="crop_name" maxlength="150" class="form-control" placeholder="Crop name" title="" required=""  id="crop_name">
              <div [hidden]="crop_name.valid || crop_name.pristine" class="alert alert-danger">
             <p>Crop is required</p>
          </div>
          </div>
      <div class="form-group">
        <label class="control-label active" for="post_text">Crop Details</label>
        <textarea [(ngModel)]="crop.details" #crop_details='ngModel' name="crop_details" cols="40" rows="10" class="form-control" placeholder="Crop details" title="" required="" id="crop_details"></textarea>
        <div [hidden]="crop_details.valid || crop_details.pristine" class="alert alert-danger">
             <p>Crop details are required</p>
          </div>
      </div>
            <div class="text-center">
              <span class="waves-input-wrapper waves-effect waves-light">
                <button type="button" (click)="addCrop()" class=" btn aqua-gradient btn-lg" >ADD</button> </span>
            </div>
        
            
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>